<%- include("../partials/header.ejs") %>

<form action="/cohorts/new" method="post">
  <%- include('../partials/formInputNew.ejs') %>
  <input type="submit" value="Submit" class="btn btn-outline-primary float-right" />
</form>

<%- include("../partials/footer.ejs") %>
