<nav>
  <div>
    <ul class="nav">
      <li><a href="/cohorts">Super Team Picker</a></li>
      <li><a href="/cohorts">Home</a></li>
      <li><a href="/cohorts">Cohorts</a></li>
      <li><a href="/cohorts/new">New Cohort</a></li>
    </ul>
  </div>
</nav>
